/* #193067
#DCE1E9 */

.container {
    padding-top: 80px;
    flex: 1;
}

img {
    max-width: 100%;
    object-fit: cover;
}

/* .center-content {   for error pages 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

p {
    text-align: justify;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* buttons -----------------------*/
/* .btn {
    color: white;
    box-shadow: 0 2px 6px #0000001a;
}

.btn:hover {
    color: white;
}  
I didn't apply these styles to all buttons because of the quantity selector buttons    
*/
    
.btn-red {
    background-color: #CA2B30;   
    color: white;
    box-shadow: 0 2px 6px #0000001a;
}

.btn-red:hover {
    background-color: #A82428;
    color: white;
}

.btn-green {
    background-color: #095D36;
    color: white;
    box-shadow: 0 2px 6px #0000001a;
}

.btn-green:hover {
    background-color: #063820;
    color: white;
}

.button-return {  /* return to home */
    background-color: #193067;
    color: white;
    box-shadow: 0 2px 6px #0000001a;
}

.button-return:hover {
    background-color: #142752;
    color: white;
}

/* index.php */
.carousel-item {
    height: 300px; /* fixing height of carousel photos */
}

@media (max-width: 991px) {
.carousel-item {
    height: 250px; /* smaller height of carousel for smaller screens */
}
}

/* nav bar stuff */
/* shadow under nav bar on scroll */
.navbar-shadow {
    box-shadow: 0 4px 6px #0000001a;
}

.navbar {
    background-color: #EFF2FB; 
    /*box-shadow: 0 2px 6px #0000001a;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    width: 100%; 
    z-index: 2;
    top: 0;
}

.nav-link {
    color: #182E63;
}

.nav-link:hover {
    color: #CA2B30;
    text-decoration: underline;
}

#nav-username {
    color: #182E63;
}

#signup-link, #logout-link {
    background-color: #193067;
    color: #EFF2FB;
}

#logo {
    transition: all .2s ease-in-out; 
}

#logo:hover {
    transform: scale(1.05);     
}

i {
    margin-right: 0.25rem;
}

/* shop stuff */
#search-button {
    color: #D9FCEC;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none; 
    transition: all .1s ease-in-out; 
 }
 
 #search-bar {
     max-width: 600px;
     margin: 0;
 }
 
 #search-bar .form-control {
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;
 }
 
 #search-button:hover {
     box-shadow: 0 0 10px #095D36;
 }
 
.card p {
    margin-bottom: 0;
}

 a .card:hover {
     border: 1px solid;
     box-shadow: 0 0 10px #000000;
 }
 
 .card:hover .card-title {
     text-decoration: underline;
 }
 
 .card-img-top {
     object-fit: cover;
     height: 300px; /* Set a fixed height for images */
 }
 
 #item-price {
     color: #193067;
     font-size: larger;
 }

/* product pages */
.img-product {
    height: 400px; 
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 4px 8px #0000001a;
    margin: auto;    
    display: block;

}

.qty-group {
    display: flex;
    flex-direction: column;
}

.product-price {
    color: #193067;
    font-weight: bold;
}

/* cart  */

.cart-img {
    height: 100px;
}

.form-item-quantity {
    all: unset;
}

.quantity-input {
    border: none;
    text-align: center; 
    width: 50px;
}

/* takes away the default arrows */
.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.delete-icon {
    color: #CA2B30;
}   

/* ------------- */

footer {
    background-color: #EFF2FB;
    color: #193067;
    width: 100%;
    height: 2.5rem; 
    justify-content: center;
    align-items: center;
    display: flex;              
}